body{
    border: black;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0;
}

.Label{
    margin-left: 2%;
    width: 30%;
    float: left;
}

.Input{
    float: left;
}


.v1{
    border-left: 5px solid #46D7AD;
    margin-top: 50px;
    height: 300;
}

h1{
    color: White;
    background-color: #46D7AD;
    border: black;
    border-width: 1px;
    border-style: solid;
}

@media only screen and (max-width: 500px) {
    #fadeshow {
        display: none;
    }
}

h5{
    color: White;
    background-color: #46D7AD;
    border: black;
    border-width: 1px;
    border-style: solid;
}

.tableFixHead {
    margin-left: 25;
    border: 1;
    overflow-y: auto;
    height: 400px;
    margin-right: 25;
    margin-bottom: 30%;
  }
   
  tr:nth-child(even) {
   
    background-color: #EBF2D3;
    border: 2px solid #A7C93F;
      
  }
  tr:nth-child(odd) {

    border: 2px solid #A7C93F;
  }
   
   
   
  th{
   
      background-color: #A7C93F;
   
      color:rgb(255, 255, 255);
   
      border: 2px solid #A7C93F;
   
  }